################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorShop//BlazorShop.sln
.vs
bin
obj
/BlazorShop/bin/Debug
